.programa{
    margin: 20px 0;
    .programa-container{
        width: 100%;
        max-width: 720px;
        margin: auto;
        img{
            margin: 20px 0;           
            width: 100%;
        }
    }
}