@use 'vars';

.timeline{
    margin: 50px;
    .timeline-date{
        @include vars.section-width;
        .fecha{
            margin: 20px auto;
            text-align: center;
            background: var(--dates-bgcolor);
            display: inline-block;
            color: var(--dates-font-color);
            width: 100%;
            padding: 15px;
            font-size: 25px;
        }
    }
    .expo{
        color: vars.$black;
    }

    .events{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .event{
            text-align: center;
            padding: 0 25px;
            width: 300px;
            margin: 20px auto;
            position: relative;
            &:hover{
                cursor: pointer;
            }
            .img_container{
                $size: 200px;
                margin: 0px auto 20px;
                width: $size;
                height: $size;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease;
                box-shadow: 0 1px 10px 5px #aaa;
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0 1px 20px 5px #acc;
                }
                img{
                    height: auto;
                    width: 150%;
                }
            }
            /*
            .trigger{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
            */
        }
    }
}

.modal{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    #modal_trigger{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .modal_content{
        width: 100%;
        max-width: 700px;
        border-radius: 12px;
        background: vars.$white;
        overflow: hidden;
        display: none;  
        animation-name: animatetop;
        animation-duration: 0.4s;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;  
        position: relative;
        align-items: space-evenly;

        .modal-btn{
            width: 100%;
            position: relative;
            bottom: 0;
            display: flex;
            justify-content: center;

            button{
                width: 50%;
                margin: 20px auto;
                padding: 20px 0;
                color: vars.$red;
                border: none;
                font-size: 25px;
                position: relative;
                border-radius: 50px;
                min-width: 300px;
                overflow: hidden;

                &::after{
                    content: "";
                    display: block;
                    background: vars.$red;
                    width: 0%;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    right: 50%;   
                    transition: all 0.5s ease; 
                }

                &:hover::after{
                    right: 0%;
                    margin: auto;
                    width: 100%;
                }

                &:hover{
                    cursor: pointer;
                }
            }
        }
        .modal-title{
            text-align: center;
            background: vars.$blue;
            color: vars.$white;
            padding: 10px;
            font-size: 20px;
            h2{
                width: 80%;
                margin: auto;
            }
        }
        .modal-body{
            margin: 20px auto;
            width: 90%;
            font-size: 20px;
            text-align: justify;
            max-height: 700px;
            overflow: auto;
        }
        .modal-links{
            margin: 20px auto;
            width: 90%;
            font-size: 20px;
            .twitter{
                color: #1DA1F2;
            }
            .instagram{
                color: #C13584;
            }
        }
    }
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}   